option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "https://steelcase-ergo-seat-eva.herokuapp.com/parse"
    APP_ID: "steelcaseErgoSeatEvaId"
    MASTER_KEY: "steelcaseErgoSeatEvaMasterKey"
    DATABASE_URI: "mongodb://heroku_r2m6vcd3:kgbto69i8j3taqpcitt405fe29@ds131826.mlab.com:31826/heroku_r2m6vcd3"
    NODE_ENV: "production"
    SERVER_URL: "https://steelcase-ergo-seat-eva.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"